<div class="sidebar">
  <div class="sidebar__header">
    <img class="sidebar__header__menu" src="images/menu.svg" alt="Sidebar Menu">
    <a class="sidebar__header__logo" href="#">
      <img src="images/fidyu-logo.svg" width="100" alt="Youtube Logo">
    </a>
  </div>

  <div class="sidebar__sections">
    <div class="sidebar__sections__section">
      <a href="#" class="<%= active == "home" ? "active" : ""  %>  sidebar__sections__section__item">
        <img src="images/home.svg" alt="">
        Home
      </a>
      <a href="/videos" class="sidebar__sections__section__item">
        <img src="images/tabler-icon-box-model-2.svg" alt="">
        Your videos
      </a>
    </div>
  </div>
</div>